.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  background: linear-gradient(135deg, #f9fafb, #eef2ff);
  height: 34rem;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 48px;
  color: #1f2937;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #374151;
  font-family: "Segoe UI", sans-serif;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}
.btn.primary a{
  color: white;
}
.btn.primary {
  background-color: #4f46e5;
  color: white;
}

.btn.primary:hover {
  background-color: #4338ca;
  transform: translateY(-2px);
}

.btn.secondary {
  background-color: white;
  border: 2px solid #4f46e5;
  color: #4f46e5;
}

.btn.secondary:hover {
  background-color: #eef2ff;
  transform: translateY(-2px);
}

.hero-image img {
  max-width: 500px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;   
    text-align: center;
    padding: 40px 5%;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 32px;            
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image img {
    max-width: 100%;
  }
}